<%= render '/layouts/nav' %>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>
<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>

<div class="row images">
  <div class="col-xs-6 col-md-3 thumbnail">
    <img>
  </div>
</div>